{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    "add-module-exports",
    "babel-root-import",
    "react-require",
    ["provide-modules", {
      "debug": "debug"
    }],
    "transform-decorators-legacy"
  ]
}
