@import "~tao-scss/index";

$link-color: forestgreen;
$active-color: #055605;

.nav a {
  margin-right: rem(10px);
  text-decoration: none;
  color: $link-color;

  &:last-of-type {
    margin-right: 0;
  }
}

a.active {
  color: $active-color;
}

