@import '~vars';
@import '~tao-scss/index';

.msg {
  display: block;
  margin-bottom: rem(5px);

  &--info {
    color: $info-blue;
  }

  &--error {
    color: $error-red;
  }

  &--good {
    color: $good-green;
  }
}

.close {
  border: 1px solid $border-grey;
  border-radius: rem(10px);
  padding: 1px rem(5px);

  &:hover {
    cursor: pointer;
  }
}
