@import '~vars';
@import '~tao-scss/index';

.Msg {
  display: block;
  margin-bottom: rem(5px);

  &--info {
    color: $info-blue;
  }

  &--error {
    color: $error-red;
  }

  &--good {
    color: $good-green;
  }

  &__close {
    border: rem(1px) solid $border-grey;
    border-radius: rem(8px);
    font-size: em(16px);
    margin: 0 rem(8px);
    padding: 0 rem(4px);

    &:hover {
      cursor: pointer;
    }
  }
}
