name: Pull request and Push master workflow
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - '*'

jobs:
  build:
    name: Run Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 10.x

      - name: Install
        run: npm ci

      - name: Lint
        run: |
          $(npm bin)/eslint src test --ext .js
          $(npm bin)/sass-lint --verbose -c .sass-lint.yml

      - name: Unit test
        run: $(npm bin)/mocha 'src/**/*.spec.js'

      - name: Integration test
        run: $(npm bin)/mocha 'test/integration/**/*.test.js'

  heroku_deploy:
    name: Deploy to Heroku
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Heroku login
        uses: actions/heroku@master
        with:
          args: container:login
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

      - name: Heroku push
        uses: actions/heroku@master
        with:
          args: container:push -a breko-hub web
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

      - name: Heroku release
        uses: actions/heroku@master
        with:
          args: container:release -a breko-hub web
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

  cypress_browser_test:
    name: Run cypress browser tests
    needs: heroku_deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Install cypress
        uses: bartlett705/npm-cy@6fa505d818d66409f91d1f42e3b15d50a0cc4886
        with:
          args: install cypress
        env:
          CI: true

      - name: Run cypress tests
        uses: bartlett705/npm-cy@6fa505d818d66409f91d1f42e3b15d50a0cc4886
        with:
          args: run cypress:run
        env:
          CYPRESS_BASE_URL: https://breko-hub.herokuapp.com/
